<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>FIC - Purchases</title>
	<link href="imagens/favicon1.ico" rel="shortcut icon" type="image/x-icon"/>
	
</h:head>
<body>
	<div id="header">
		<img src="imagens/logo.jpg" alt="FIC logo" />
		<ui:insert name="title">
			Título da Página
		</ui:insert>
		<h:link value="Fornecedor" outcome="cadastroFornecedor" />
		&nbsp;
		<h:link value="Produto" outcome="cadastroProduto" />
		&nbsp;
		<h:link value="Pedido" outcome="cadastroPedido" />
		&nbsp;
		<hr />
	</div>
	<ui:insert name="conteudo">
		Espaço para o conteúdo
	</ui:insert>
	<hr />
	<div id="footer" style="text-align: center">&copy; 2015 FIC -
		Frameworks. Todos os direitos reservados.</div>
</body>
</html>
