<ui:composition
		template="/WEB-INF/templates/template.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
     	xmlns:h="http://java.sun.com/jsf/html"
      	xmlns:f="http://java.sun.com/jsf/core"
      	xmlns:ui="http://java.sun.com/jsf/facelets">
      	
   <ui:define name="title">
   		<h1 style="text-align: left;">Cadastro de Produto</h1>
   	</ui:define>
      	
   <ui:define name="conteudo">
   		<h:form >
   			<h:panelGrid columns="3">
   				<h:outputLabel value="Código: " for="codigo" />
   				<h:inputText value="#{produtoMB.produtoSelecionado.codigo}" id="codigo" required="true" />
   				<h:message for="codigo"/>
   				
   				<h:outputLabel value="Descrição: " for="descricao" />
  				<h:inputText value="#{produtoMB.produtoSelecionado.descricao}" id="descricao" required="true"/>
  				<h:message for="descricao"/>
  				
  				<h:outputLabel value="Unidade Médida: " for="unidade"/>
  				<h:inputText value="#{produtoMB.produtoSelecionado.unidadeMedida}" id="unidade" required="true"/>
  				<h:message for="unidade"/>
  				
  				<h:outputLabel value="Preço R$ " for="preco"/>
  				<h:inputText value="#{produtoMB.produtoFornecedorSelecionado.precoUnitario}" id="preco">
  					<f:convertNumber currencySymbol="R$" type="currency" />
  				</h:inputText>
  				<h:message for="preco"/>
  				
  				<h:outputLabel value="Fornecedor: " for="fornecedor"/>
  				<h:selectOneMenu id="fornecedor" value="#{produtoMB.fornecedorSelecionado.id}">
  				<f:selectItem itemValue="#{null}" itemLabel="--- Selecione ---"/>
  					<f:selectItems
  						value="#{produtoMB.fornecedores}"
  						var="forne"
  						itemLabel="#{forne.nome}"
  						itemValue="#{forne.id}">
  						
  					</f:selectItems>
  				</h:selectOneMenu>
  				<h:message for="fornecedor"/>
  				<h:panelGroup>
  					<h:commandButton action="#{produtoMB.salvar()}" value="Salvar"/>
  				</h:panelGroup> 				
   			</h:panelGrid>
   		</h:form>
   		<br/>
   		<h:dataTable value="#{produtoMB.produtosFornecedores}" var="item" rendered="#{not empty produtoMB.produtosFornecedores}">
   			<h:column>
   				<f:facet name="header">CÓDIGO</f:facet>
   				#{item.produto.codigo}
   			</h:column>
   			<h:column>
   				<f:facet name="header">PROODUTO</f:facet>
   				#{item.produto.descricao}
   			</h:column>
   			<h:column>
   				<f:facet name="header">FORNECEDOR</f:facet>
   				#{item.fornecedor.nome}
   			</h:column>
   			<h:column>
   				<f:facet name="header">UNIDADE</f:facet>
   				#{item.produto.unidadeMedida}
   			</h:column>
   			<h:column>
   				<f:facet name="header">PRECO R$</f:facet>
   				#{item.precoUnitario}
   			</h:column>
   		</h:dataTable>
   		
   </ui:define>
</ui:composition>