<ui:composition
		template="/WEB-INF/templates/template.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
     	xmlns:h="http://java.sun.com/jsf/html"
      	xmlns:f="http://java.sun.com/jsf/core"
      	xmlns:ui="http://java.sun.com/jsf/facelets">
      	
   <ui:define name="title">
   		<h1 style="text-align: left;">Cadastro de Fornecedor</h1>
   	</ui:define>
      	
   <ui:define name="conteudo">
   		<h:form >
   			<h:panelGrid columns="3">
   				<h:outputLabel value="Nome: " for="nome" />
   				<h:inputText value="#{fornecedorMB.fornecedorSelecionado.nome}" id="nome"  required="true" />
   				<h:message for="nome"/>
   				
   				<h:outputLabel value="E-mail: " for="email" />
  				<h:inputText value="#{fornecedorMB.fornecedorSelecionado.email}" id="email" required="true"/>
  				<h:message for="email"/>
  				<h:panelGroup>
  					<h:commandButton action="#{fornecedorMB.salvar()}" value="Salvar" />
  				</h:panelGroup> 				
   			</h:panelGrid>
   		</h:form>
   		<br/>
   		<h:dataTable rendered="#{not empty fornecedorMB.fornecedores}" 
   				value="#{fornecedorMB.fornecedores}" var="forne">
   			<h:column>
   				<f:facet name="header">CÓDIGO</f:facet>
   				 #{forne.id}
   			</h:column>
   			<h:column>
   				<f:facet name="header">NOME</f:facet>
   				 #{forne.nome}
   			</h:column>
   			<h:column>
   				<f:facet name="header">E-MAIL</f:facet>
   				 #{forne.email}
   			</h:column>
   		</h:dataTable>
   </ui:define>
</ui:composition>