<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="title">
		<h1 style="text-align: left;">Cadastro de Pedido</h1>
	</ui:define>

	<ui:define name="conteudo">
		<h:form>
			<h:panelGrid columns="4">
				<h:outputLabel value="FORNECEDOR " for="cdFornecedor" />
				<h:outputLabel value="PRODUTO " for="cdProduto" />
				<h:outputLabel value="PREÇO R$ " for="preco"/>
				<h:outputLabel value="QUANTIDADE " for="quantidade"/>
				
				<h:selectOneMenu id="cdFornecedor" valueChangeListener="#{pedidoMB.loadProdutoPorFornecedor}">
					<f:selectItem value="#{null}" itemLabel="--- Selecione ---"/>
					<f:selectItems 
						value="#{pedidoMB.fornecedores}"
						var="item"
						itemLabel="#{item.nome}"
						itemValue="#{item.id}" />
					<f:ajax render="cdProduto precoProduto"/>
				</h:selectOneMenu>
				
				<h:selectOneMenu id="cdProduto" valueChangeListener="#{pedidoMB.loadPrecoProduto}">
					<f:selectItem value="#{null}" itemLabel="--- Selecione ---"/>
					<f:selectItems 
						value="#{pedidoMB.produtoPorFornecedor}"
						var="item"
						itemLabel="#{item.produto.descricao}"
						itemValue="#{item.produto.id}"
					/>
					<f:ajax render="precoProduto"/>
				</h:selectOneMenu>
				
				<h:inputText id="precoProduto" value="#{pedidoMB.precoProdudo}" disabled="true" style="color: red;"/>
				<h:inputText id="quantidade" value="" />


			</h:panelGrid>
		</h:form>
		<br />

	</ui:define>
</ui:composition>